html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: 16px;
  /* overflow-y: hidden; */
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #f9f9f9;
}
.color__content {
  color: #ada7a7;
}
.menu {
  margin-top: 0;
  margin-left: 0;
  width: 78px;
  padding: 0;
}
.menu__box {
  display: flex;
  flex-direction: column;
  padding-top: 159px;
}
.menu__icon {
  height: 58px;
  width: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__icon--background {
  background: linear-gradient(
    to right,
    rgba(179, 205, 253, 0.1),
    rgba(193, 212, 250, 0.52)
  );
  height: 58px;
  width: 78px;
}
.block {
  width: 100%;
  background-color: #f9f9f9;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 40px 32px 40px;
  height: 72px;
  width: calc(100% - 80px);
}

.header__box-1 {
  display: flex;
  flex-direction: column;
  padding: 2px 0 2px 0;
  align-content: space-between;
}

.header__content {
  font-size: 24px;
  font-weight: 500;
}
.header__box-2 {
  display: flex;
  padding: 10px 0 5px 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  width: 354px;
  height: 52px;
  border: solid 1px white;
  border-radius: 8px;
  background-color: white;
}
.header__search {
  border: none;
  background-color: #ffffff;
  padding: 1px 10px 1px 15px;
  border-radius: 8px;
}
.header input {
  border: none;
  font-size: 16px;
  height: 24px;
}
.header__bill {
  display: flex;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
}
.header__margin-left {
  margin-left: 20px;
}
.warrper {
  display: flex;
  flex-direction: column;
  margin: 0 40px 32px 40px;
  width: calc(100% - 80px);
  height: 100%;
}
.form {
  border-radius: 10px;
  background-color: #ffffff;
  /* overflow: hidden; */
}
.banner {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.warrper__box {
  width: (100% - 64px);
  height: 100%;
  padding: 32px 32px 16px 32px;
}
.section_1 {
  display: flex;
  justify-content: space-between;
  height: (100% - 64px);
  width: 100%;
}
.section_1__wrap {
  display: flex;
  justify-content: space-between;
  width: 322px;
  height: 100px;
  align-items: center;
}
.section_1__avt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.section_1__wrap .content {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 6px;
}
.section_1__edit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4182f9;
  border-radius: 8px;
  width: 93px;
  height: 44px;
  color: #ffffff;
  margin: 28px 0;
}
.box {
  display: flex;
  margin: 30px 0 16px 0;
  gap: 32px;
  justify-content: space-between;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  width: calc(100% -16px);
  height: 52px;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.distance {
  margin: 25px 0 12px 0;
}
.section_2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section__distance {
  margin-bottom: 12px;
}
.section_3 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section_4 {
  display: flex;
  flex-direction: column;
  width: 266px;
  height: 177px;
  padding-bottom: 71px;
}
.section_4_content {
  font-size: 18px;
  font-weight: 500;
}
.section_4_box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-content: center;
  margin: 16px 0;
}
.section_4_border {
  display: flex;
  align-items: center;
  width: 209px;
  height: 44px;
  border-radius: 8px;
  color: #4182f9;
  background-color: rgba(65, 130, 250, 0.1);
}






